body {
  background-color: black;
  font-family: "Monda", sans-serif;
  font-size: 16px;
  margin: 0;
}

/* SIGN IN/UP/GOOGLE */ 

img.image-desktop {
  display: none;
  border-radius: 15px;
}
div.main-login,
div.google-github-login,
div.main-register,
div.register,
div.login-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
div.main-login {
  width: 100vw;
  height: 100vh;
}
form.login-input,
form.register-input {
  background-image: url(../images/night.jpeg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input.login-input,
input.register-input {
  width: 300px;
  height: 35px;
  background-color: rgb(220, 250, 230);
  border-radius: 25px;
  border: solid 2px black;
  margin-top: 40px;
  font-family: "Monda", sans-serif;
  text-align: center;
  font-size: 16px;
}

button.login-input,
button.login-google,
button.login-github,
button.register-input {
  width: 300px;
  height: 35px;
  background-color: rgb(174, 252, 200);
  border-radius: 25px;
  border: solid 2px black;
  font-family: "Monda", sans-serif;
  text-align: center;
  font-size: 16px;
}

button.login-input,
button.login-github {
  margin-top: 40px;
}

button.register-input {
  margin-top: 10px;
}

p.without-register {
  text-align: center;
  align-items: center;
  color: white;
  font-size: 10px;
}
 
a.register {
  text-decoration: none;
  color: white;
  font-size: 10px;
  font-weight: bolder;
}

@media screen and (min-width: 678px) {
  input#post-text {
    width: 80vw;
  }
}

@media only screen and (max-width: 768px) {
  div.login-data {
  background-image: url(../images/night.jpeg);
  }
}

@media screen and (min-width: 1024px) {
  div.main-login {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  div.login-images,
  div.login-data {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img.logo {
    width: 0px;
  }

  div.login-data {
    background-image: url(../images/night.jpeg);
    width: 500px;
    height: 500px;
    display: flex;
    background-repeat: no-repeat;
  }

  img.image-desktop {
    display: initial;
    width: 400px;
  }

/* FEED */

.container-feed {
  background-color: black;
  background-size: cover;
  border: 1px solid rgb(0, 255, 13);
}

.logo-feed {
  text-align: center;
  background: no-repeat;
  border: 1px solid red;
}

.post-area {
  border: 1px solid red;
  color: black;
  background-color: #DFF0BB;
  align-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 290px;
  border-radius: 15px;
  
}

.form-post {
  border: 1px solid rgb(240, 221, 51);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: large;
  padding: 10px;
}

.review-label {
  margin-bottom: 10px;
}

.post-place {
  display: block;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 10px;
  width: 350px;
  text-align: center;
}

.post-review {
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 20px;
  text-align: center;
}

.submit {
  display: block;
}

#containerPost {
  color: aquamarine;
}

.curtido {
  background-color: green;
}

.descurtido {
  background-color:blue;
}
